<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Instructors page</h1>

    {{#each instructors}}
        <p>Name : {{this.name}} , City:{{this.city}}</p>
    {{/each}}
</body>
</html>