<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentsPage</title>
</head>
<body>
    <h1>This is the Students page</h1>  
    {{#each students}}
        <h5> {{ this.name }} </h5>
    {{/each}}
</body>
</html>